:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #4d3900;
  color: aliceblue;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  text-decoration: none;
}

a {
  display: block;
  text-decoration: none;
  color: aliceblue;
}

a:hover {
  color: #de6916;
}

.ml-2 {
  margin-left: 2rem !important;
}

ul {
  padding: 0;
}

.container {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 3fr 1fr;
      grid-template-rows: 1fr 3fr 1fr;
  background-color: aliceblue;
  color: black;
  position: relative;
}

@media (max-width: 991px) {
  .container {
    max-width: 740px;
    background-color: yellow;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
    background-color: aqua;
  }
}

.navbar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: black;
}

.navbar {
  position: relative;
}

@media (max-width: 991px) {
  .navbar__menu .navbar__menu__dropdown {
    display: none;
  }
}

@media (max-width: 1199px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  [class^='absolute'] {
    display: none;
  }
}

@media (min-width: 1199px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.fas {
  font-size: 4.2358vw;
  padding: calc(1vw *2);
  margin: 0 1vw;
  color: aliceblue;
}

@media (min-width: 991px) {
  .fas {
    display: none;
  }
}

@media (max-width: 1199px) {
  .fas:hover + .navbar__menu__dropdown {
    display: block;
    position: fixed;
    margin: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    left: 0%;
    width: 100%;
    padding: 1.5rem 1rem;
    background-color: gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fas:hover + .navbar__menu__dropdown a {
    padding: calc(1vw *2);
    font-size: calc(4.2358vw);
  }
  .fas:hover + .navbar__menu__dropdown a :hover {
    color: #de6916;
  }
}

.navbar__logo {
  font-size: 4.2358vw;
  margin: 0 1vw;
  padding: calc(1vw *2);
  color: aliceblue;
}

.navbar__menu {
  color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navbar__menu__dropdown {
  font-size: 2.61792vw;
  margin: 0 1vw;
  padding: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  color: #fff;
}

@media (max-width: 991px) {
  .dropdown__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.dropdown__container {
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__menu__dropdown li a {
  padding: 1.5rem 1rem;
}

.absolute-dots {
  width: 7.85377vw;
  height: 7.85377vw;
  background: radial-gradient(aliceblue 20%, black 0);
  background-size: 25% 25%;
  position: absolute;
  top: 0;
  left: calc(30vw + 5px);
}

.absolute-dots:hover {
  -webkit-box-shadow: 2px 4px 8px 1px #de6916;
          box-shadow: 2px 4px 8px 1px #de6916;
}

.absolute-rectangle {
  width: 10.4717vw;
  height: 3.92689vw;
  background-color: black;
  border: 3px solid #de6916;
  position: absolute;
  left: 25%;
  bottom: 0%;
}

.absolute-rectangle:hover {
  -webkit-box-shadow: 20px black;
          box-shadow: 20px black;
}

main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-color: crimson;
  color: aliceblue;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  main {
    width: 100%;
    height: 100%;
  }
}

main section:nth-child(1) {
  background-image: url("Love1.jpg");
  padding-bottom: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  position: relative;
}

section:nth-child(1) .section-container {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section:nth-child(2) {
  display: none;
  width: 0;
  height: 0;
}

@media (max-width: 991px) {
  main section:nth-child(1) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    background-color: goldenrod;
  }
  main section:nth-child(2) {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
}

main section:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainheadline {
  font-family: 'Festive', cursive;
  color: #de6916;
  word-spacing: 2;
  font-size: 4.2358vw;
}

.thirdheadline {
  color: aliceblue;
  font-size: 2.61792vw;
}

@media (max-width: 991px) {
  .thirdheadline {
    color: #de6916;
  }
}

.form {
  width: 400px;
  height: 90px;
  border: 2px solid #de6916;
  border-radius: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  justify-self: flex-end;
  height: calc(90px - 4px);
  width: calc(400px - 250px);
  border-radius: 2em;
  background-color: #de6916;
}

button a {
  color: aliceblue;
  font-size: 1.618vw;
}

.dropdown {
  display: inline-block;
  position: relative;
}

form {
  position: relative;
}

.dropdown {
  width: 150px;
}

.dropdown-label {
  padding: 0.5em;
  width: 100px;
}

.dropdown-label::after {
  content: '';
  position: absolute;
  right: 2em;
  top: 1em;
  border: 0.3em solid;
  border-color: white transparent transparent;
}

form {
  position: relative;
}

.formabsolute {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  border: 0.3em solid;
  border-color: red transparent transparent;
}

.dropdown:hover .dropdown-label::after {
  top: 0.7em;
  border-color: transparent transparent whitesmoke;
}

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: black;
  color: white;
}
/*# sourceMappingURL=index.css.map */